<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="styles1.css">
</head>

<body>
    <header id="app" class="header-container">
        <img src="https://i.pinimg.com/736x/61/31/b6/6131b675773eb5c42ae3d49be5a868c1.jpg" alt="Заголовок">
        <div class="overlay">
            <div class="header-content">
                <div class="icon"><b><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg></b></div>
                <div class="zagl">
                    <p class="big-title">{{ title }}</p>
                </div>
                <div class="zagl2">
                    <p class="subtitle" id="text">{{ title2 }}</p>
                </div>
            </div>
            <button class="custom-button">{{ button1Text }}</button>
            <button class="custom-button">{{ button2Text }}</button>
            <div class="text-content">
                <p>{{ description }}</p>
            </div>
        </div>
        <div class="transparent-panel">
            <div class="icon"><b><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg></b></div>
            <div>
                <a v-for="(btn, index) in transparentButtons" :key="index" href="#">
                    {{ btn }}
                </a>
                <a v-for="(btn, index) in transparentButtons3" :key="index" href="#" class="active" style="text-decoration: underline;">
                    {{ btn }}
                </a>
                <a v-for="(btn, index) in transparentButtons4" :key="index" href="index1.html">
                    {{ btn }}
                </a>
                <a @click.prevent="showPopup = true" v-for="(btn, index) in transparentButtons2" :key="index" href="#">
                    {{ btn }}
                    <img style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px; margin-left: 5px;"
                        src="https://avatars.mds.yandex.net/i?id=a028d5705abf6cdd82838500700c3fe6_l-8804196-images-thumbs&n=13">
                </a>
            </div>
        </div>

<div v-if="showPopup" class="popup" @click.self="showPopup = false">
    <div class="popup-content">
        <h6>Ивано Иванов <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                <path
                    d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
            </svg></h6>
        <p>example@yandex.ru</p>
        <button @click="showPopup = false" style="background-color: #43716B;
     color: white; border-radius: 10%;">Выход</button>
    </div>
</div>

    </header>

    <div>
        <iframe src="cards.html" style="width: 100%; height: 1200px;"></iframe>
    </div>


    <script>
        new Vue({
            el: '#app',
            data: {
                title: 'СБР',
                title2: 'Сервис бронирования ресурсов',
                button1Text: 'Вход',
                button2Text: 'Регистрация',
                description: 'Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.',
                transparentButtons: ['Аппаратура'],
                transparentButtons2: ['Профиль'],
                transparentButtons3: ['Люди'],
                transparentButtons4: ['Пространство'],
                showPopup: false
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            const textElement = document.getElementById("text");
            const words = textElement.innerText.split(" ");
            if (words.length > 2) {
                words.splice(2, 0, "<br>"); // Вставляем тег <br> после второго слова
            }
            textElement.innerHTML = words.join(" "); // Обновляем HTML с новыми словами
        });

    </script>
</body>

</html>